.hero-text h1 {
  font-family: "Standie";
  font-size: 8rem;
  text-align: center;
  line-height: 0.9;
}

p {
  font-family: "Avantgarde";
  font-size: 1rem;
  text-align: center;
}
.hero-button-container {
  display: flex;
  align-items: center;
}

.hero {
  padding: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(
      to bottom,
      rgba(15, 14, 14, 0.382),
      rgba(0, 0, 0, 0.628)
    ),
    url("/beer-photo.jpg");
  background-size: cover;
  min-height: 100vh;
  p {
    display: flex;
    max-width: 50vw;
    margin: auto;
  }
}
