h1 {
  font-family: "Balgin" sans-serif;
  font-size: 4rem;
  text-align: left;
}

p {
  font-family: "Avantgarde";
  font-size: 1rem;
  text-align: left;
}
.hero-button-container {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(15, 14, 14, 0.382),
      rgba(0, 0, 0, 0.628)
    ),
    url("/beer-photo.jpg");
  background-size: cover;
  min-height: 80vh;
}

.hero-text {
  text-align: center;
}
