html {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Avantgarde";
}

#webLogo {
  padding: 0 0 0 0;
  max-width: 12vw;
}

.icon {
  height: 23px;
}

.nav-link-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link-container li {
  display: flex;
  align-items: center;
  cursor: pointer;

  font-weight: 500px;
  font-size: medium;
}

.nav-link-container li:hover {
  color: var(--pico-border-color);
}

body {
  overflow-x: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  background-color: transparent;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: absolute;
  width: 100%;
  backdrop-filter: blur(10px);

  .actions {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  span {
    color: #a5d601;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

.nav-menu-wrapper {
  position: relative;
  ul {
    position: absolute;
    top: 2rem;
    left: -100%;
    flex-direction: column;
    background-color: rgb(232, 255, 178);

    color: black;
    li {
      padding: 0.5rem 1rem;
      &:hover {
        color: yellowgreen;
      }
    }
  }
}

nav {
  transition: scale 200ms;
  scale: 1;
}

.hidden {
  scale: 0;
}

#nav-links {
  font-family: "Standie";
  transition: top 600ms cubic-bezier(1, -0.78, 0, 1.82);
  background-color: #ffda9a;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  min-height: 100vh;
  min-width: 100vw;
  .close {
    color: #a5d601;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  a {
    font-size: 10rem;
    font-weight: 800;
    line-height: 9rem;
  }
}

#nav-links.hide-that-aside {
  top: -400vh;
  right: 0;
}
