.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.product-cards-container > .one-product-container {
  max-width: 300px;
  transition: box-shadow 500ms;
  box-shadow: 0 0 0 0;
  &.notify {
    box-shadow: 0 0 5px 4px rgb(109, 205, 50);
  }
}

h3,
h2,
h1,
h4 {
  font-family: "Standie";
  padding-bottom: 3rem;
}
